[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        variable="psl"
        experiment="dcppA-hindcast"
        sub_experiment_id=1960..2018
        current_date="20240221"

[scheduling]
    [[dependencies]]
        graph = """
        find_valid_nodes<variable><experiment><sub_experiment_id> => extract_context_dataframe<variable><experiment><sub_experiment_id>
        extract_context_dataframe<variable><experiment><sub_experiment_id> => download_missing_files<variable><experiment><current_date><sub_experiment_id>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
        [[[directives]]]
            --partition=short-serial
    [[find_valid_nodes<variable><experiment><sub_experiment_id>]]
        script = """
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        python find_valid_nodes.py ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment} ${CYLC_TASK_PARAM_sub_experiment_id}
        """
        [[[job]]]
            execution time limit = PT120M
    [[extract_context_dataframe<variable><experiment><sub_experiment_id>]]
        script="""
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        python extract_context_dataframe.py ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment} ${CYLC_TASK_PARAM_sub_experiment_id}
        """
        [[[job]]]
            execution time limit = PT300M
    [[download_missing_files<variable><experiment><current_date><sub_experiment_id>]]
        script="""
        module load jaspy
        cd ${CYLC_SUITE_RUN_DIR}/
        python download_missing_files.py ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment} ${CYLC_TASK_PARAM_current_date} ${CYLC_TASK_PARAM_sub_experiment_id}
        """
        [[[job]]]
            execution time limit = PT500M