[cylc]
    UTC mode = True # Ignore DST
    [[parameters]]
        variable = "tas"
        experiment_id = "historical"

[scheduling]
    [[dependencies]]
        graph = """
            download_scripts<variable><experiment_id> => run_scripts<variable><experiment_id>
            run_scripts<variable><experiment_id> => clean_data<variable><experiment_id>
        """

[runtime]
    [[root]]
        # This is applied before every task
        pre-script="""set -eu"""
        [[[job]]]
            batch system = slurm
            execution time limit = PT15M
        [[[directives]]]
            --partition = short-serial
    [[download_scripts<variable><experiment_id>]]
        script = """
            module load jaspy
            cd ${CYLC_SUITE_RUN_DIR}/
            bash submit_data_download_wget_scripts.bash ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment_id}
        """
    [[run_scripts<variable><experiment_id>]]
        script = """
            module load jaspy
            cd ${CYLC_SUITE_RUN_DIR}/
            bash submit_historical_run_wget_scripts.bash ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment_id}
        """
    [[clean_data<variable><experiment_id>]]
        script = """
            module load jaspy
            cd ${CYLC_SUITE_RUN_DIR}/
            bash submit_clean_downloads.bash ${CYLC_TASK_PARAM_variable} ${CYLC_TASK_PARAM_experiment_id}
        """